/*Google Font*/

body {
	font-family: 'Open Sans', sans-serif;
}

/*CSS Reset*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

nav {
	/*padding-top: 0.8rem;
	padding-right: 0.8rem;
	padding-bottom: 0.8rem;
	padding-left: 0.8rem;*/
	/*shorthand propert*/
	padding: 0.8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
	list-style-type: none;
}

/*margin vs padding*/
/*margin is best used when creating space between elements*/
/*padding is best used when creating space between an element's border and it's content*/

nav .nav, nav .nav-logo {
	margin: 05rem;
	/*margin top:  0.5rem;
	margin-right' 0.5rem;
	margin-bottom: 0.5rem;
	margin-left:  0.5re*/
	display: inline;
	/*changes our elements to inline elements*/
}

/*intro section*/

#intro{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
	/*short hand*/
	/*padding:  2rem 10% 3rem*/
}

.header {
	text-align: center;
	/*best used when horizontally aligning text instead of using our margins and paddings*/
}

#intro h2, #intro p {
	/*this creates space between the contents of the intro section*/
	margin-bottom: 1rem;
}

#intro button {
	color: white;
	/*changes thickness of text*/
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	/*creates space between the button text and the border*/
	padding: 1rem;
}

/*suceed info section*/
/*exact same properties as the intro section but can have it's own CSS rules for flexibility*/
#suceed-info{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
}

#suceed-info h2 {
	margin-bottom: 1rem;
	/*this creates a space between the header and the card section*/
}

#suceed-info h3{
	text-align: center;
	margin-bottom: 1rem;
} 

#suceed-info .card{
	display: inline-block;
	vertical-align: top;
	min-height: 175px;
	width: 30%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

/*footer*/
footer {
	padding: 0.7rem;
	/*creat space between span tags and footer border*/
}

footer span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

#pre-footer{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
}

#pre-footer div{
	display: inline-block;
	padding: 0.5rem;
	vertical-align: top;
	margin: 3rem;
}

#pre-footer{
	color: white;
	background-color: #002540;
}
